*{
    margin: 0;
}
.header {
    background-color: rgb(31, 31, 41);
    display: flex;
    height: 100px;
    color: white;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 100;
    padding-left: 400px;
    padding-right: 400px;
}

.logo {
    width: 200px;
    height: 100px;
}

.organizer-link{
    margin-left: 600px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.container-icons{
    height: 20px;
    display: flex;
}

.icons{
    padding: 5px;
}

.icon{
    cursor: pointer;
}

.container-link{
    height: 40px;
    display: flex;
}

.link{
    margin-top: 10px;
    display: flex;
    padding: 5px;
    color: blueviolet;
    cursor: pointer;
}
